* {
    margin: 0;
    padding: 0;
}

.fertiliser_icon{
    padding-left: 0.6vw;
}

.fertiliser-body{
    margin-left: 6%;
    margin-top: 8vh;
    width: 40%;
}

#crop_type{
    font-size: 1rem;
    color: rgb(160, 160, 160);
}

#soil_type{
    font-size: 1rem;
    color: rgb(160, 160, 160);
}