@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

.result-body{
    margin-bottom: -8vh;
    font-family: 'Signika', sans-serif;
}

h3{
    font-family: 'Signika', sans-serif;
}

.result-image{
    margin-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 50%;
    width: 100%;
}

.accuracy{
    margin-top: 2vh;
    margin-left: 1vw;
}

.desc{
    padding-left: 1vw;
    padding-right: 1vw;
}